*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #F4F4F4;
}


header{
    background-color: #181818;
    display: flex;
    height: 80px;
    align-items: center;
}

.logo h1{
    color: white;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}


.container{
    width: 1320px;
    margin: 0 auto;
    

}

.nav-menu{
    width: 1800px;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.menu-l{
    display: flex;
    color: white;

    li{
        color: white;
        margin-left: 25px;
        font-weight: 500;
        font-size: 15px;
        font-family: 'PP Pangram Sans', sans-serif 
    }
}

.knop{
    border-radius: 8px;
    padding: 13px 20px;
    color: white;
    background-color: transparent;
    border-color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: 'PP Pangram Sans', sans-serif;
}

.tel{
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Unbounded', sans-serif;
}

.prof{
    display: flex;
}

.prof img{
    margin-left: 10px;
}

.soc{
    display: flex;
    img{
        margin-left: 15px;
    }
}

.sect1{
    color: white;
    background-image: url(img/бг.png);
    background-size: cover;
    width: 1860px;
    height: 966px;
    margin-left: 20px;

    hr{
        width: 80%;
        margin-left: 10%;
        color: #FFFFFF;
        margin-top: 100px;
        
    }
    .sect1-text{
        display: block;
        text-align: center;
        justify-content: center;
        padding-top: 90px;
        padding-bottom: 60px;
        h1{

            font-size: 89px;
            font-family: 'Unbounded'
        }

        p{
            padding-top: 30px;
            font-size: 24px;
            font-family: 'PP Pangram Sans';
            
        }
    }

    .spis1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        position: relative;
        z-index: 2;
        li{
            padding-left: 70px;
            display: flex;
            h3{
                display: flex;
                color: black;
                background-color: white;
                width: 26px;
                height: 26px;
                border-radius: 100px;
                font-size: 16px;
                justify-content: center;
                align-items: center;
            }

            p{
                padding-left: 20px;
                font-size: 17px;
                font-family: 'PP Pangram Sans';
                font-weight: 300;
            }
        }
    }
}

.dop-sect1{
    position: absolute;
    z-index: 1;
    background-color: white;
    left: 17%;
    width: 1320px;
    height: 271px;
    border-radius: 20px;
    bottom: -25%;



    .form-but{
        width: 201px;
        height: 76px;
        color: white;
        border-radius: 10px;
        border: solid 0px ;
        font-family: 'PP Pangram Sans';
        font-size: 16px;
        background: linear-gradient(to top right,#9F7437, #E3D293,);
    }
    .text-for{
        padding-left: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: end;
        width: 380px;
        height: 54px;
        p{
            font-size: 14px;
            font-family: 'PP Pangram Sans';
        }
    }

    h2{
        padding-top: 50px;
        padding-left: 50px;
        font-family: 'Unbounded';
        font-size: 22px;
    }

    .forma{
        display: flex;
        padding-top: 30px;
        padding-left: 20px;
    }

    .p{
        display: grid;
        width: 130px;
        .gal{
            margin-right: 15px;
        }
        justify-content: center;
        align-items: end;
        height: 54px;        
    }

    .form{
        text-align: center;
        width: 242px;
        height: 76px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: #F5F5F5;
        border: solid 1px #F5F5F5;
        font-family: 'PP Pangram Sans';
        color: #A4A4A4;

    }
    


}




ul{
    list-style: none;
}


.sect2{
    margin-top: 12%;

    .sect2-he{
        display: flex;
        flex-direction: row;
        
        h1{
            color: #1F1F1F;
            font-family: 'Unbounded';
            font-size: 48px;
            margin-left: 20px;
        }

        button{
            margin-left: 30px;
            margin-top: 15px;
            height: 44px;
            width: 124px;
            background-color: #FFFFFF;
            border-radius: 8px;
            border: solid 2px #1F1F1F;
        }
    }

    .car{
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: row;
        font-family: 'PP Pangram Sans';
        margin-left: 20px;
        

        img{
            margin-right: 15px;
        }


        .black{
            display: flex;
            background-color: #1F1F1F;
            width: 217px;
            height: 74px;
            color: #FFFFFF;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            font-size: 14px;

            
        }

        .white{
            display: flex;
            background-color: #FFFFFF;
            width: 217px;
            height: 74px;
            color: #1F1F1F;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            margin-left: 30px;
        }

        .white:hover{
            background-color: #EAEAEA;
        }

    }

    .katal{
        display: flex;
        flex-direction: row;
        column-count: 2;


        li{
            display: flex;
            width: 424px;
            height: 483px;
            background-color: #FFFFFF;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            margin-top: 30px;
            margin-left: 20px;
            

            img{
                width: 286px;
                height: 153px;
                
            }

            h4{
                font-size:  20px;
                font-family: 'PP Pangram Sans';
                padding-top: 20px;
                padding-left: 40px;
            }
            .text-s2{
                display: flex;
                flex-direction: row;
                padding-top: 15px;
                padding-left: 40px;

                img{
                    width: 25px;
                    height: 18px;
                    padding-left: 15px;
                    padding-right: 15px;
                }

                p{
                    font-size: 13px;
                    font-family: 'PP Pangram Sans';
                    color: #707070;
                }
                .pa{
                    padding-left: 10px;
                }
            }

            .cen{
                display: flex;
                flex-direction: row;
                padding-top: 15px;
                padding-left: 40px;
                button{
                    width: 135px;
                    height: 40px;
                    color: white;
                    border-radius: 6px;
                    border: solid 0px ;
                    font-family: 'PP Pangram Sans';
                    font-size: 12px;
                    background: linear-gradient(to top right,#9F7437, #E3D293,);
                }

                span{
                    font-size: 20px;
                    color: black;
                }

                p{
                    font-size: 13px;
                    font-family: 'PP Pangram Sans';
                    color: #707070;
                    padding-left: 50px;
                    padding-top: 5px;

                }
            }

            .img-kat{
                display: flex;
                align-items: center;
                justify-content: center
                
            }

            hr{
                width: 80%;
                margin-top: 20px;
                margin-left: 10%;
                color: #EBEBEB;
            }

        }
    }
    
}


.te{
    font-family: 'PP Pangram Sans';
    padding-top: 90px;
    h4{
        font-size: 28px;
        color: #1F1F1F;
        width: 1208px;
        height: 114px;
        margin-left: 20px;
    }

    p{
        font-size: 18px;
        color: #9F9F9F;
        width: 1208px;
        height: 60px;
        margin-left: 20px;
    }
}


.sect3{
    margin-top: 80px;
    background-image: url(img/бг\ \(1\).png);
    width: 100%;
    height: 764px;
    background-repeat: no-repeat;
    h1{
        padding-top: 120px;
        font-size: 48px;
        color: #FFFFFF;
        font-family: 'Unbounded';
    }

    .text-s3{
        padding-top: 80px;
        font-family: 'PP Pangram Sans';
        color: #A4A4A4;
        
        .osn{
            width: 760px;
            font-family: 'PP Pangram Sans';
            font-size: 28px;
            color: #FFFFFF;
            height: 266px;
        }
        .ppp{
            width: 760px;
            height: 60px;
            padding-top: 30px;
        }
    }
    
    .forma-texts3{
        display: flex;
        justify-content: space-around;
        .form-s3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: 'PP Pangram Sans';
            padding-left: 90px;
            padding-top: 50px;
            .in{
                width: 424px;
                height: 76px;
                border-radius: 10px;
                padding-left: 25px;
                margin-top: 20px;
            }

            .in::placeholder{
                padding-left: 20px;
            }


            button{
                width: 453px;
                height: 80px;
                border-radius: 10px;
                margin-top: 20px;
                background-color: transparent;
                color: #FFFFFF;
                border: solid 1px #FFFFFF;
                font-family: 'PP Pangram Sans';
                font-size: 16px;
            }

            .galo{
                padding-top: 0px;
                font-size: 14px;
                width: 321px;
                padding-left: 10px;
                color: #B6B6B6;
                span{
                    color: #FFFFFF;
                }
            }
    
            .x{
                padding-top: 30px;
                display: flex;
            }

            p{
                color: #FFFFFF;
                width: 424px;
                font-size: 14px;
                padding-top: 40px;
            }

            .wh{
                padding-left: 35px;
            }

            
        }
    }
}


.sect4{
    margin-top: 90px;
    h1{
        font-size: 48px;
        font-family: 'Unbounded';
        color: #1F1F1F;
    }

    .s4{
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
        img{
            width: 648px;
            height: 390px;
        }

        .left-s4{
            background-color: #FFFFFF;
            width: 648px;
            border-radius: 20px;
            height: 584px;

            h3{
                font-family: 'PP Pangram Sans';
                font-size: 20px;
                color: #1F1F1F;
                padding-top: 30px;
                padding-left: 30px;
            }

            p{
                color: #989898;
                font-family: 'PP Pangram Sans';
                font-size: 16px;
                width: 402px;
                padding-top: 30px;
                padding-left: 30px;
            }
        }

        .right-s4{
            background-color: #FFFFFF;
            width: 648px;
            height: 584px;
            border-radius: 20px;
            
            h3{
                font-family: 'PP Pangram Sans';
                font-size: 20px;
                color: #1F1F1F;
                padding-top: 30px;
                padding-left: 30px;
            }

            p{
                color: #989898;
                font-family: 'PP Pangram Sans';
                font-size: 16px;
                width: 402px;
                padding-top: 30px;
                padding-left: 30px;
            }
        }
    }
}

.sect5{
    margin-top: 80px;

    h1{
        text-align: center;
        font-size: 48px;
        font-family: 'Unbounded';
    }

    .s5{
        padding-top: 80px;
        display: flex;
        justify-content: space-around;

        .s5-1{
                background-color: #FFFFFF;
                width: 424px;
                height: 272px;
                border-radius: 20px;
                display: flex;
                
        }

        .s5-ph{
            padding-top: 60px;
            padding-left: 30px;
            width: 50px;
            height: 50px;
        }

        .s5-th{
            padding-left: 30px;
            padding-top: 60px;
            font-family: 'PP Pangram Sans';
            h4{
                color: #1F1F1F;
                font-size: 20px;                
            }

            p{
                padding-top: 40px;
                width: 234px;
                color: #989898;
                font-size: 16px;
            }

            .bb{
                color: black;
            }
        }
    }
}

.sect6{
    margin-top: 60px;
    background-image: url(img/бг\ \(2\).png);
    height: 820px;
    background-repeat: no-repeat;
    color: #F4F4F4;
    h1{
        padding-top: 120px;
        font-family: 'Unbounded';
        font-size: 48px;
    }

    .s6{
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
        font-family: 'PP Pangram Sans';

        .osna{
            font-size: 28px;
            width: 648px;
            
        }
        .j{
            padding-top: 60px;
            font-size: 18px;
            color: #A4A4A4;
            width: 648px;
        }

        .s6-ph{
            margin-left: 50px;
            background-color: white;
            width: 536px;
            height: 448px;
            border-radius: 20px;
            
            img{
                width: 536px;
                height: 274px;
            }

            .ab{
                padding-top: 15px;
                padding-left: 25px;
                color: #1F1F1F;
                font-size: 20px;
            }

            .ba{
                color: #9F9F9F;
                font-size: 16px;
                padding-left: 25px;
                padding-top: 15px;
            }
        }
        
    }   
}

.sect7{
    padding-top: 90px;

    h1{
        font-size: 48px;
        font-family: 'Unbounded';
        color: #1F1F1F;
    }

    .s7{
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
        img{
            width: 424px;
            height: 540px;
        }

        p{
            padding-top: 30px;
            color: #1F1F1F;
            font-family: 'PP Pangram Sans';
            font-size: 20px;
            font-weight: 800;
            width: 262px;
        }
    }
}




.sect8{
    padding-top: 90px;

    h1{
        color: #1F1F1F;
        font-size: 48px;
        font-family: 'Unbounded';
    }

    b{
        display: block;
        padding-left: 20px;
    }

    p{
        margin-bottom: -10px;
    }

    ul{
        padding-top: 30px;
        column-count: 2;
        column-gap: 20px;
        width: 100%;
    }

    li{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 320px;
    }
}




.sect9{
    margin-left: 30px;
    margin-top: 90px;
    background-image: url(img/bg\ \(8\).png);
    height: 1459px;
    background-repeat: no-repeat;
    color: #F4F4F4;

    h1{
        padding-top: 90px;
        font-size: 48px;
        font-family: 'Unbounded';
        width: 628px;
    } 

    .s9-2{
        display: flex;
        justify-content: space-around;
        
        .s9_2{
            padding-left: 40px;
            .i{
                width: 448px;
                height: 529px;
            }
            .da{
                color: #9F9F9F;
                span{
                    color: white;
                }
            }

            p{
                font-family: 'PP Pangram Sans';
                padding-top: 40px;
                color: #989898;
            }
            hr{
               margin-top: 30px;
               width: 728px;
               color: #707070;
            }

            .sp{
                display: flex;
                padding-top: 50px;

                li{
                    padding-left: 20px ;
                }

                .f1{
                    width: 152px;
                }

                .f2{
                    width: 180px;
                }

                .f3{
                    width: 171px;
                }

                p{
                    padding-top: 0px;
                    padding-left: 15px;
                    font-size: 13px;
                    font-weight: 900;
                    color: #FFFFFF;
                }
                li{
                    display: flex;
                }
            }
        }
    }


    .s9{
        padding-top: 60px;
        display: flex;
        justify-content: space-around;

        .photo-s9{
            img{
                width: 560px;
                height: 580px;
            }
        }

        .text-s9{
            font-size: 28px;
            font-family: 'PP Pangram Sans';
            width: 648px;
           
            p{
                padding-top: 40px;
                width: 648px;
                height: 190px;
            }
            
            .dop{
                width: 648px;
                padding-top: 30px;
                font-size: 18px;
                font-family: 'PP Pangram Sans';
                color: #9F9F9F;
                height: 180px;
            }
        }
    }

}



.sect10{
    width: 1860px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
    height: 280px;

    .s10{
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        align-items: center;

    }
}



.sect11{
    padding-top: 90px;

    .s11{
        display: flex;
        
        h1{
            padding-top: 15px;
            font-family: 'Unbounded';
            font-size: 48px;
            color: #1F1F1F;
        }

        p{
            padding-top: 50px;
            font-family: 'PP Pangram Sans';
            font-size: 18px;
            color: #9F9F9F;
            width: 499px;
        }

        b{
            padding-top: 40px;
            font-family: 'Unbounded';
            font-size: 20px;
            color: #1F1F1F;
            padding-bottom: 60px;
        }
        
        .fo{
            margin-top:  20px;
            background-color: #FFFFFF;
            width: 448px;
            height: 76px;
            border-radius: 10px;
            border: solid 0px;
            padding-left: 20px;
        }

        button{
            margin-top: 20px;
            width: 468px;
            height: 76px;
            background-color: #1F1F1F;
            border-radius: 10px;
            color: #FFFFFF;
            font-family: 'PP Pangram Sans';
        }

        .galo{
            padding-top: 0px;
            font-size: 14px;
            width: 321px;
            padding-left: 10px;
            span{
                color: #131313;
            }
        }

        .x{
            padding-top: 30px;
            display: flex;
        }

        .s11-text{
            display: flex;
            flex-direction: column;
            padding-left: 80px;
        }
    }
}


footer{
    border-radius: 10px;
    padding-top: 90px;
    background-color: #1D1D1D;
    height: 534px;
    margin-left: 30px;

    .fot{
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
        color: #FFFFFF;

        .fot1{
            h1{
                font-family: 'Inter';
                font-size: 40px;
            }

            .nom{
                padding-top: 70px;
                display: flex;
                p{
                    font-size: 12px;
                    font-family: 'PP Pangram Sans';
                    color: #AFAFAF;
                }
                h3{
                    font-size: 18px;
                    font-family: 'Unbounded';
                }

                button{
                    border-radius: 8px;
                    margin-left: 20px;
                    width: 149px;
                    height: 44px;
                    color: #FFFFFF;
                    background-color: #1D1D1D;
                    border: solid 3px #FFFFFF;
                }
            }

            .adress{
                position: relative;
                font-family: 'PP Pangram Sans';
                font-size: 15px;
                color: #AFAFAF;
                padding-top: 30px;
                img{
                    padding-right: 8px;
                }
            }



            .poch{
                padding-top: 10px;
                padding-left: 22vh;
                font-family: 'PP Pangram Sans';
                font-size: 15px;
                color: #FFFFFF;
                img{
                    padding-right: 8px;
                }
            }

            .soceti{
                padding-top: 30px;
                padding-left: 27vh;

                .p2{
                    padding-left: 7px;
                }

            }
        }

        .fot2{
            ul{
                display: flex;

                li{
                    h1{
                        font-family: 'PP Pangram Sans';
                        font-size: 15px;
                        color: #FFFFFF;
                        padding-bottom: 30px;
                    }

                    p{
                        font-family: 'PP Pangram Sans';
                        font-size: 16px;
                        color: #AFAFAF;
                        padding-top: 15px;
                    }

                    p:hover{
                        color: #FFFFFF;
                    }


                }

                .g2{
                    padding-left: 50px;
                }
            }
        }

        hr{
            margin-top: 60px;
            width: 568px;
        }

        .kchay{
            display: flex;
            justify-content: space-between;
            padding-top: 60px;
            font-family: 'PP Pangram Sans';
            font-size: 13px;
            color: #7E7E7E;
        }
    }
}


@media (min-width: 320px) and (max-width: 320px){

    .sect1{
        background-image: url(img/бг\ \(3\).png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 320px;
        height: 572px;
        margin-left: 0px;
        .sect1-text{
            display: block;
            text-align:start;
            justify-content:start;
            padding-top: 20px;
            padding-bottom: 0px;
            
            h1{
                width: 280px;
                font-size: 32px;

                
            }

            p{
                font-size: 16px;
                width: 248px;
                height: 48px;
            }
        }

        hr{
            margin-top: 35px;
            margin-left: 10px;
            width: 80%;
        }



        .spis1{
            display: block;
            padding-top: 25px;
            

            li{
                padding-left: 0px;
                padding-top: 20px;

                .k{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                h3{
                    
                    font-size: 10px;
                    width: 26px;
                    height: 26px;
                }

                p{
                    font-weight: 500;
                    font-size: 15px;
                    height: 44px;
                }
            }
        }
    }

    .container{
        width: 290px;
        margin: 0 auto;
    }

    .sect1{
        width: 320px;
    }

    .nav-menu{
        width: 320px;
        margin: 0 auto;
    }
    
     .menu{
        .menu-l li{
            display: none;
        }

        .logo{

            h1{
                font-family: 'Inter';
                font-size: 20px;
                
            }

        }

 

        .knop{
            display: none;
        }

        .tel{
            display: none;
        }

        .soc{
            display: none;
        }
     }


     .dop-sect1{
        display: block;
        position: relative;
        left: 0px;
        width: 320px;
        height: 545px;
        border-radius: 0px;
        
        h2{
            font-size: 18px;
            width: 272px;
            height: 27px;
            padding-top: 30px;
            padding-left: 0px;
        }

        .forma{
            padding-top: 20px;
            display: block;
            padding-left: 0px;
            .form{
                margin-top: 20px;
                margin-left: 0px;
            }
        }

        .form-but{
            margin-top: 70px;
            
            width: 280px;
        }

        .text-for{
            display: grid;
            padding-left: 25px;
            width: 257px;
            padding-top: 20px;            
            grid-template-columns: repeat(2, 1fr) ;
            p{
                padding-top: 15px;
            }
        }
     }


     .sect2{
        margin-top: 40px;
        height: 1839px;
        .sect2-he{
            display: flex;
            margin-left: 20px;
            h1{
                font-size: 18px;
                width: 112px;
            }
            
            button{
                font-size: 13px;
                width: 124px;
                height: 44px;
                margin-top: 0px;
            }
        }

        .car{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 290px;
            height: 136px;
            .black{
                width: 159px;
                height: 36px;
            }
            .w1{
                margin-left: 15px;
                width: 112px;
                height: 36px;
            }
            .w4{
                margin-left: 0px;
                width: 129px;
                height: 36px;
            }

            .w2{
                margin-left: 15px;
                width: 143px;
                height: 36px;
            }

            .w3{
                margin-left: 0px;
                width: 120px;
                height: 36px;
            }
        }

        .katal{
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                margin-left: 0px;
                width: 280px;
                height: 391px;
                

                .cen{
                    display: flex;
                    flex-direction: column;
                    padding-left: 35px;

                    button{
                        width: 220px;
                        height: 40px;
                    }

                    p{
                        padding-left: 45px;
                        padding-top: 15px;
                        span{
                            font-weight: 800;
                        }
                    }
                }

                hr{
                    display: none;
                }

                .text-s2{
                    
                    padding-top: 15px;

                    img{
                        padding-left: 0px;
                    }
                    p{
                        font-size: 12px;
                        height: 20px;
                    }

                    .pa{
                        img{
                            width: 22px;
                            height: 18px;
                        }
                    }

                    padding-left: 35px;
                }



                h4{
                    padding-top: 25px;
                    width: 148px;
                    height: 20px;
                    font-size: 16px;
                }

                img{
                    width: 204px;
                    height: 109px;
                }
            }

            .vis{
                display: none;
            }

        }
     }

     .te{
        padding-top: 120px;
        h4{
            width: 280px;
            height: 198px;
            font-size: 18px;
            margin-left: 0px ;
        }

        p{
            margin-left: 0px;
            width: 280px;
            height: 120px;
            font-size: 14px;
        }
     }



     .sect3{
        margin-top: 30px;
        background-image: url(img/mb.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 924px;

        h1{
            width: 208px;
            height: 54px;
            font-size: 18px;
            padding-top: 40px;
            margin-left: 15px;
        }

        .forma-texts3{
            display: flex;
            flex-direction: column-reverse;
            
            .text-s3{
                width: 280px;
                height: 426px;
                padding-top: 20px;
            }

            .osn{
                font-size: 18px;
                width: 280px;
                height: 286px;
            }

            .ppp{
                width: 280px;
                height: 120px;
                font-size: 14px;
            }

            .form-s3 {
                padding-left: 0px;
                padding-top: 10px;
    
                .in{
                    width: 280px;
                    height: 76px;
                    padding-left: 0px;
                }
                
                button{
                    width: 280px;
                    height: 76px;
                    
                }

                .galo{
                    font-size: 13px;
                    width: 246px;
                    height: 54px;
                }
            }
        }
     }

     .sect4{
        margin-top: 30px;
        h1{
            margin-left: 15px;
            font-size: 18px;
            width: 250px;
        }

        .s4{
            display: flex;
            flex-direction: column;

            
            .left-s4{
                width: 280px;
                height: 418px;

                h3{
                    font-size: 16px;
                    width: 194px;
                    height: 20px;
                }

                p{
                    font-size: 14px;
                    width: 200px;
                    height: 60px;
                }

                img{
                    width: 280px;
                    height: 190px;
                }
            }

            .right-s4{
                margin-top: 30px;
                width: 280px;
                height: 438px;

                img{
                    width: 280px;
                    height: 190px;
                }

                h3{
                    width: 200px;
                    height: 40px;
                    font-size: 16px;
                }

                p{
                    width: 220px;
                    height: 60px;
                    font-size: 14px;
                }

            }
        }

     }


     .sect5{
        margin-top: 30px;
        h1{
            font-size: 18px;
            width: 200px;
            height: 54px;
            margin-left: 15px;
            text-align: start;
        }

        .s5{
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            .s5-1{
                display: flex;
                flex-direction: column;
                width: 280px;
                height: 266px;
                margin-top: 20px;
                .s5-th{
                    padding-top: 15px;
                }

                .s5-ph{
                    padding-top: 20px;
                }

                p{
                    font-size: 14px;
                    height: 80px;
                    width: 215px;
                    padding-top: 15px;
                }

                h4{
                    font-size: 16px;
                    width: 116px;
                    height: 20px;
                    padding-top: 20px;
                }

                img{
                    width: 68px;
                    height: 66px;
                }
            }
        }
     }

    
    .sect6{
        margin-top: 30px;
        background-image: url(img/fff.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1048px;

        h1{
            font-size: 18px;
            width: 200px;
            height: 20px;
            padding-top: 40px;
            margin-left: 15px;
        }

        .s6{
            display: flex;
            flex-direction: column-reverse;
            padding-top: 30px;

            .s6-ph{
                width: 280px;
                height: 364px;
                margin-left: 0px;

                img{
                    width: 280px;
                    height: 190px;
                }

                h3{
                    font-size: 16px;
                    width: 213px;
                    height: 40px;
                }

                p{
                    width: 220px;
                    height: 60px;
                    font-size: 14px;
                }
            }

            .s6-tx{
                margin-top: 30px;
                .osna{
                    width: 280px;
                    height: 286px;
                    font-size: 18px;
                }

                .j{
                    padding-top: 20px;
                    width: 280px;
                    height: 100;
                    font-size: 14px;
                }
            }
        }
    }

    .sect7{
        padding-top: 30px;
        h1{
            font-size: 18px;
            width: 180px;
            height: 27px;
            margin-left: 15px;
        }

        .s7{
            display: flex;
            flex-direction: column;
            padding-top: 30px;

            div{
                margin-top: 20px;
            }

            img{
                width: 280px;
                height: 190px;
                border-radius: 20px;
            }

            p{
                width: 180px;
                height: 40px;
                font-size: 16px;
                padding-top: 10px;
            }
        }

    }

    .sect8{
        padding-top: 30px;
        h1{
            width: 250px;
            height: 81px;
            font-size: 18px;
            margin-left: 15px;
        }

        .prich{
            display: flex;
            flex-direction: column;

            li{

                margin-top: 15px;
                h2{
                    width: 148px;
                    height: 20px;
                    font-size: 16px;
                }

                p{
                    width: 173px;
                    height: 80px;
                    font-size: 14px;
                    padding-top: 10px;
                }
            }
        }
    }

    .sect9{
        background-image: url(img/ddd.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1566px;
        margin-left: 0px;
        margin-top: 30px;
        .s9{
            display: flex;
            flex-direction: column-reverse;

            .photo-s9{
                img{
                    width: 280px;
                    height: 210px;
                    
                }
            }

            h1{
                width: 250px;
                height: 54px;
                font-size: 18px;
                margin-left: 5px;
                padding-top: 20px;
            }

            .text-s9{
                p{
                    width: 280px;
                    height: 154px;
                    padding-top: 20px;
                    font-size: 18px;
                    margin-left: 5px;
                    
                }
    
                .dop{
                    width: 280px;
                    height: 200px;
                    padding-top: 20px;
                    font-size: 14px;
                    margin-left: 5px;
                    
                }
            }

           

        }

        .s9-2{
            display: flex;
            flex-direction: column;
            .i{
                width: 280px;
                height: 210px;
            }
    
            .s9_2{
                padding-left: 0px;
                h1{
                    width: 250px;
                    height: 54px;
                    font-size: 18px;
                    padding-top: 30px;
                    
                }
                
                .da{
                    width: 280px;
                    height: 100px;
                    font-size: 14px;
                    padding-top: 25px;
                }

                p{
                    width: 280px;
                    height: 60px;
                    font-size: 14px;
                    padding-top: 20px;
                }
                hr{
                    margin-top: 20px;
                    width: 110%;
                }

                .sp{
                    display: flex;
                    flex-direction: column;
                    li{
                        padding-left: 0px;
                    }
                    p{
                        width: 180px;
                        height: 48px;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .sect10{
        margin-left: 0px;
        width: 320px;
        height: 347px;
        .s10{
            width: 320px;
            height: 347px;
            padding-top: 20px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }


    .sect11{
        padding-top: 30px;

        .s11{
            display: flex;
            flex-direction: column-reverse;
            
            .s11-ph{
                text-align: center;
            }

            img{
                width: 144px;
                height: 225px;
            }

            .s11-text{
                padding-left: 0px;
                h1{
                    width: 250px;
                    height: 27px;
                    font-size: 18px;
                }

                p{
                    padding-top: 20px;
                    width: 280px;
                    height: 60px;
                    font-size: 14px;
                }

                b{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 202px;
                    height: 24px;
                    font-size: 18px;
                }

                .fo{
                    width: 280px;
                    height: 76px;
                    font-size: 16px;
                    padding-left: 0px;
                }
                .fo::placeholder{
                    padding-left: 20px;
                }

                button{
                    width: 280px;
                    height: 76px;
                    font-size: 16px;
                }
            }
        }
    }
    


    footer{
        margin-left: 0px;
        height: 1026px;
        padding-top: 0px;
        .fot{
            display: flex;
            flex-direction: column;
            padding-top: 0px;

            .fot1{
                h1{
                    width: 148px;
                    height: 54px;
                    font-size: 28px;
                    padding-top: 20px;
                }

                .nom{
                    display: flex;
                    flex-direction: column;
                    padding-top: 30px;

                    h3{
                        width: 202px;
                        height: 20px;
                        font-size: 18px;
                    }

                    p{
                        width: 181px;
                        height: 12px;
                        font-size: 12px;
                        padding-top: 5px;
                    }

                    button{
                        margin-left: 0px;
                        width: 280px;
                        height: 56px;
                        font-size: 13px;
                        margin-top: 20px;
                    }
                }

                .adress{
                    width: 229px;
                    height: 44px;
                    font-size: 15px;
                    

                }

                .poch{
                    padding-left: 0px;
                    width: 180px;
                    height: 22px;
                    font-size: 15px;
                }

                .soceti{
                    padding-left: 0px;
                    padding-top: 20px;
                }
            }

            .fot2{
                padding-top: 20px;
                ul{
                    display: flex;
                    flex-direction: column;

                    li{
                        h1{
                            width: 98px;
                            height: 20px;
                            font-size: 13px;
                            padding-bottom: 15px;
                        }

                        p{
                            width: 130px;
                            height: 20px;
                            font-size: 16px;
                            padding-top: 10px;
                        }
                    }

                    .g2{
                        padding-left: 0px;
                        padding-top: 15px;
                    }
                }

                hr{
                    margin-top: 30px;
                }

                .kchay{
                    display: flex;
                    flex-direction: column;
                    padding-top: 10px;

                    p{
                        width: 202px;
                        height: 22px;
                        font-size: 13px;
                        .pl{
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
}