*{
    margin: 0;
    padding: 0;
}



header{
    background-color: #181818;
    display: flex;
    height: 80px;
    align-items: center;
}

.logo h1{
    color: white;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

.nav-menu{
    width: 1800px;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.menu-l{
    display: flex;
    color: white;

    li{
        color: white;
        margin-left: 25px;
        font-weight: 500;
        font-size: 15px;
        font-family: 'PP Pangram Sans', sans-serif 
    }
}

.knop{
    border-radius: 8px;
    padding: 13px 20px;
    color: white;
    background-color: black;
    border-color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: 'PP Pangram Sans', sans-serif;
}

.tel{
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Unbounded', sans-serif;
}

.prof{
    display: flex;
}

.prof img{
    margin-left: 10px;
}

.soc{
    display: flex;
    img{
        margin-left: 15px;
    }
}

.sect1{
    color: white;
    background-image: url(img/бг.png);
    background-size: cover;
    width: 1860px;
    height: 966px;
    margin-left: 20px;

    hr{
        width: 80%;
        margin-left: 10%;
        color: #FFFFFF;
        margin-top: 80px;
        
    }
    .sect1-text{
        display: block;
        text-align: center;
        justify-content: center;
        padding-top: 90px;
        padding-bottom: 60px;
        h1{
            text-transform: uppercase;
            font-size: 89px;
            font-family: 'Unbounded'
        }

        p{
            padding-top: 30px;
            font-size: 24px;
            font-family: 'PP Pangram Sans';
            
        }
    }

    .spis1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        li{
            padding-left: 70px;
            display: flex;
            h3{
                display: flex;
                color: black;
                background-color: white;
                width: 26px;
                height: 26px;
                border-radius: 100px;
                font-size: 16px;
                justify-content: center;
                align-items: center;
            }

            p{
                padding-left: 20px;
                font-size: 17px;
                font-family: 'PP Pangram Sans';
                font-weight: 300;
            }
        }
    }
}

ul{
    list-style: none;
}


.sect8{
    b{
        display: block;
        padding-left: 20px;
    }

    p{
        margin-bottom: -10px;
    }

    ul{
        column-count: 2;
        column-gap: 20px;
        width: 100%;
    }

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 320px;
    }
}




